{% extends 'base.html' %}

{% block content %}
    <h1>Fahrzeugstatus für {{ vehicle.funkrufname }}</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Status</th>
                <th>Uhrzeit</th>
            </tr>
        <tbody>
    {% for record in records %}
            <tr>
                <td>{{ record.status }}</td>
                <td>{{ record.timestamp}}</td>
    {% endfor %}
            </tr>
        </tbody>
    </table>
{% endblock %}
